<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mentor On Demand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Welcome {{userName}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
        <input class="form-control mr-sm-2 active" type="search" placeholder="Search" aria-label="Search" required
            [(ngModel)]="keyword">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
    </div>
</nav>
<br />
<div class="row">
    <div class="col text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Book trainings</button>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose your payment type</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Total amount : $ {{fees | number}}<br />
                <select class="form-control" [(ngModel)]="txnType">
                    <option value="PayPal" selected>PayPal</option>
                    <option value="Apple Pay">Apple Pay</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="bookTrainings()">Pay</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let training of trainings; let i = index">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Name : {{training.name}}</h5>
            <small>
                <ui-switch [(ngModel)]="books[i]"></ui-switch>
            </small>
        </div>
        <p class="mb-1">Fee : $ {{training.fees}}</p>
        <small>Mentor : {{training.mentorName}}</small>
        <div *ngIf="training.mentorName">
            Training Time :<br />
            <small *ngFor="let calendar of calendars">
                {{calendar.startDate | date:'yyyy-MM-dd HH:mm':'CST'}} ~
                {{calendar.endDate | date:'yyyy-MM-dd HH:mm':'CST'}}
                <br />
            </small>
        </div>
    </li>
</div>