<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mentor On Demand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Welcome {{userName}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
        <input class="form-control mr-sm-2 active" type="search" placeholder="Search" aria-label="Search" required
            [(ngModel)]="keyword">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
    </div>
</nav>
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Search Trainings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Current Trainings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Completed Trainings</a>
    </li>
</ul>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
        <small>Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
</div>